@import url("https://fonts.google.com/specimen/Rubik");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.background-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: 50% / cover no-repeat url(./images/pattern-bg.png);
  height: 18.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.625rem;
  position: relative;
  z-index: 50;
}

.container {
  text-align: center;
  font-family: Rubik, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.container-title {
  color: White;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.875rem;
  margin: 0;
  margin-bottom: 1.75rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 375px;
}

.search-input {
  border-radius: 10px;
  line-height: 50px;
  width: 100%;
  border: 2px solid white;
  padding-left: 20px;
}

.search-button {
  border-radius: 0 10px 10px 0;
  margin-left: -30px;
  background-color: black;
  width: 55px;
  border: 2px solid black;
}

.icon {
  vertical-align: middle;
}

.info-box {
  background-color: White;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding: 1.625rem 1.5rem;
  max-width: 375px;
}

.info-box-content {
  padding: 0 0 24px;}

.info-box-label {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  color: hsl(0, 0%, 59%);
  font-weight: 700;
  letter-spacing: 2px;
}

.info-box-text {
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
  line-height: 15px;
}

#map {
  position: relative;
    /* min-height: calc(100vh - 350px); */
    height: 36rem;
    z-index: 10;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  visibility: hidden;
}

@media screen and (min-width: 1300px) {
  .search-container {
    max-width: 40%;
    margin-bottom: 3rem;

  }

  .info-box {
    flex-direction: row;
    padding: 1.625rem 0;
    max-width: 80%;
    flex-wrap: nowrap;
    text-align: left;
  }

  .info-box-text {
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
  }

  .info-box-label {
    font-size: 16px;
    line-height: 20px;
  }

  .info-box-content {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 30px 30px;
    border-left: 1px solid black;
  }

  .info-box-content:first-of-type {
    border-left: none;
  }
}
